/*Variables*/
/*Mixins*/
/*estilos*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
/*animaciones*/
@keyframes tituloprincipal {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*Selector Universal*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*medidas*/
html {
  font-size: 23px;
  font-family: "Hind", sans-serif; }

body {
  font-family: "Hind", sans-serif; }

/*Navegacion*/
.barraNavegacion {
  position: sticky;
  top: 0;
  z-index: 50; }

.navbar {
  color: #000000;
  font-size: 25px; }

.nav-item {
  padding: 0 20px; }

/*Cabecera index*/
h1 {
  font-size: 90px;
  text-align: center;
  color: #ffffff;
  animation-name: tituloprincipal;
  animation-duration: 3s;
  padding: 300px 0; }

.backgroundJuli {
  background-image: url("../assets/background/juli_cabina-home.jpg");
  background-position: center;
  background-size: cover; }

.aboutUs__container {
  flex-wrap: wrap;
  padding: 80px 0;
  background-color: #faebd7; }

.aboutUs__title {
  text-align: center; }

.aboutUs__text--content {
  line-height: 25px;
  text-align: center; }

.aboutUs__img {
  max-width: 80%;
  border-radius: 20px; }

/*Main index*/
.mainTitle {
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
  font-size: 30px; }

.tipoEventos {
  font-size: 30px;
  line-height: 50px; }

.listOrder {
  margin-left: -40px;
  list-style-type: none; }

.listaSocial {
  padding-bottom: 20px;
  line-height: 25px; }

.listaCorpo {
  line-height: 25px; }

.videoYoutube {
  width: 600px;
  height: 340px;
  max-width: 90%; }

/*Seccion DJs*/
.djs-container, .descripcion-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px; }

.fotoDj {
  width: 300px;
  height: 300px;
  transition: all 1s; }
  .fotoDj:hover {
    width: 350px;
    height: 350px;
    padding: 10px; }

.djs-title {
  text-align: center;
  font-size: 50px;
  padding: 50px 0 20px 0; }

.djs-tarjeta {
  padding: 10px 30px; }

.djs-tarjeta h3 {
  text-align: center;
  font-size: 35px;
  margin-top: 10px; }

.djs-tarjeta p {
  text-align: center;
  font-size: 22px; }

.descripcion-container {
  margin-bottom: 60px;
  background-image: linear-gradient(to bottom, #b3a6cc, #a2c5ba); }

.descripcion {
  width: 70%;
  text-align: center;
  font-size: 28px; }

/*Seccion Fotos*/
#galeria .col-lg-4 {
  padding: 10px; }

#galeria {
  padding-bottom: 50px; }
  #galeria img {
    width: 100%;
    height: 260px; }
    #galeria img:hover {
      border: 6px solid #f7f7f7; }

/*Servicios*/
.backgroundServicios {
  background-image: url("../assets/background/pioneer.JPG");
  background-position: center;
  background-size: cover; }

.sectionServicios {
  padding: 30px; }

.tituloServicios {
  text-align: center;
  padding-bottom: 30px; }

.listaServicios li {
  list-style-type: none; }

/*Contacto*/
.contenido {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  color: #ffffff; }

.contenedor-contact {
  box-shadow: 0 0 20px 0 #00000056; }

.formulario-contact {
  background-color: #222222; }
  .formulario-contact form {
    display: grid;
    grid-template-columns: 100%; }
    .formulario-contact form p {
      margin: 0px;
      padding: 3px; }

.contenedor-contact > * {
  padding: 1em; }

.formulario-contact form button,
.formulario-contact form input {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  border-bottom: 1px solid #ffffff;
  color: #ffffff; }

.formulario-contact form textarea {
  width: 100%;
  height: 50%;
  padding: .5em;
  border: none;
  background: none;
  outline: 0;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  transition: all 2s; }

.formulario-contact form textarea:focus {
  height: 100%; }

/*Pie de pagina*/
footer {
  background-image: linear-gradient(to right, #000000, #292525, #a8a8a8);
  color: #ffffff;
  padding: 20px 20px; }

i {
  font-size: 2.2rem;
  color: #ffffff;
  letter-spacing: 10px;
  text-align: center; }

/***MEDIA QUERIES***/
@media only screen and (max-width: 576px) {
  h1 {
    padding: 200px 0;
    font-size: 70px; }
  /*Seccion DJs*/
  .djs-container, .descripcion-container {
    padding: 2px;
    width: 100%; }
  .fotoDj {
    width: 200px;
    height: 200px; }
  .fotoDj:hover {
    width: 240px;
    height: 240px; }
  .djs-tarjeta {
    padding: 10px 2px; }
  .djs-tarjeta h3 {
    font-size: 25px; }
  .djs-tarjeta p {
    font-size: 20px; } }
